{% if mode == 'create' %}
  <form id="lyricNotationForm" action="{% url 'lyrics:add_lyric_notation' lyric.id %}" data-form-mode="create" method="post">
    {% csrf_token %}

    <input type="hidden" id="start_line" name="start_line">
    <input type="hidden" id="start_offset" name="start_offset">
    <input type="hidden" id="end_line" name="end_line">
    <input type="hidden" id="end_offset" name="end_offset">

    <textarea class="form-control d-none" id="selected_text" name="selected_text" rows="3" readonly required></textarea>

    <div class="form-group">
      <textarea class="form-control" id="content" name="content" rows="3" placeholder="Content" required></textarea>
    </div>

    <button type="submit" class="btn btn-success">Add</button>
    <button type="button" class="btn btn-secondary btn-cancel">Cancel</div>
  </form>
{% else %}
  <form id="lyricNotationForm" action="{% url 'lyrics:update_lyric_notation' lyric_notation.id %}" data-form-mode="edit" method="post" class="mt-3 d-none">
    {% csrf_token %}

    <div class="form-group">
      <textarea name="content" class="form-control" rows="3" required>{{ lyric_notation.content }}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Confirm</button>
    <button type="button" class="btn btn-secondary btn-cancel">Cancel</button>
  </form>
{% endif %}
