#home {
  font-family: 'Poppins-Light';

  .home-title {
    margin-bottom: 24px;
  }

  .home-description {
    margin-bottom: 24px;
  }

  .home-button {
    padding: 10px 30px;
    border-radius: 30px;
  }

  .feature-container {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 24px;

    .feature-component {
      display: flex;
      align-items: center;
      padding: 8px;
      background-color: #eaf4ff;
      border-radius: 16px;

      .feature-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        min-width: 60px;
        border-radius: 16px;
        font-size: 20px;
        color: #ffffff;
        padding: 16px;
      }
    }
  }
}