@font-face {
  font-family: 'SofiaPro-Light';
  src: url('../fonts/sofiapro-light.otf') format("opentype");
}

#lyric-page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    "header header header header header"
    "main main main sidebar sidebar";
  margin: 50px 0px;

  #header {
    grid-area: header;
    margin-bottom: 1rem;
  }

  #sidebar {
    grid-area: sidebar;
    margin-left: 1rem;
  }

  #lyric {
    grid-area: main;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: .25rem;
    font-size: 18px;
  }
}

#notation-toolbar {
  background: #ffffff;
  padding: 10px;
  border-radius: .25rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.04);

  #lyric-notation-tool,
  #phonetic-notation-tool,
  #notation-display-tool > button {
    color: #007bff;
    background-color: #eaf4ff;
    padding: 5px 10px;

    &:hover { color: #004fa3; }
    &:focus { box-shadow: none; }
    &:disabled {
      color: #74818f;
      background-color: #eeeeee;
    }
  }

  #lyric-notation-tool,
  #phonetic-notation-tool {
    width: 36px;
  }

  #lyric-view-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #007bff;
    background-color: #eaf4ff;
    border: none;
    width: 150px;
    height: 100%;
    text-align: left;

    &:hover {
      color: #004fa3;
      cursor: pointer;
    }
  }
}

#notation-display-tool {
  &:focus { outline: none; }
}

#display-notation-dropdown {
  position: absolute;
  right: 10px;
  background: #ffffff;
  padding: .5rem .8rem;
  width: 200px;
  z-index: 1;
  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.04);
  margin-top: .5rem;
}

.card {
  border: none;
}

.lyric-line {
  display: flex;
  line-height: 2.5;
}

.lyric-word {
  display: inline-block;
  // font-family: 'SofiaPro-Light';

  &.lyric-word-focus {
    color: #007bff;
    cursor: pointer;
  }

  rt {
    font-size: 12px;
    &:before { content: attr(data-rt); }
    &.phonetic-notation-hidden { display: none; }
  }
}

.lyric-notation {
  display: flex;
  background-color: #eaf4ff;

  &.lyric-notation-focus {
    background-color: #d1e7ff;
    cursor: pointer;
  }

  &.lyric-notation-hidden {
    background-color: transparent;
  }
}

.lyric-notation-card {
  .selected-text {
    white-space: pre;
    border-left: 10px solid #666666;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  .content {
    white-space: pre;
    margin-top: 15px;
  }
}

.lyric-notation-card,
.phonetic-notation-card {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.04);
}
