@font-face {
  font-family: 'SofiaPro-Light';
  src: url('../fonts/sofiapro-light.otf') format("opentype");
}

.notation-wrapper {
  background-color: #fff6b2;
  padding: 3px 6px;
  border-radius: 5px;
}

.rectNotation {
  fill: #fff6b2;
}

.rectNotation-hover {
  fill: #ffed67;
  cursor: pointer;
}

.rectNotation:focus {
  outline: none;
}

text {
  font-family: 'SofiaPro-Light';
  pointer-events: none;
}
