{% extends "base.html" %}

{% block content %}
<div id="login-page" class="row m-0">
  <div class="col-6 d-flex align-items-center p-5 bg-primary">
    <div>
      <h1 class="title text-white">Welcome to LyricsPro.</h1>
      <p class="text-white">Manage and add notations to your lyrics.</p>
    </div>
  </div>
  <div class="col-6 d-flex align-items-center justify-content-center bg-white p-5">
    <div id="login-form" class="mb-4">
      <h3 class="title mb-4">Sign in</h3>

      {% if form.errors %}
        <div class="alert alert-warning" role="alert">Invalid username or password.</div>
      {% endif %}

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="form-group">
          <label for="id_username" class="">Username</label>
          <input class="form-control" id="id_username" name="username" required>
        </div>

        <div class="form-group mb-4">
          <label for="id_password" class="">Password</label>
          <input class="form-control" id="id_password" name="password" type="password" required>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}