{% extends "base.html" %}

{% block content %}
  {% include 'navbar.html' %}

  <div class="container mt-4">
    <h3 class="title mb-3">Lyrics</h3>

    <div id="lyrics-table-container">
      <table id="lyrics-table" style="width: 100%">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Artist</th>
            <th scope="col">Updated At</th>
            {% if user.is_superuser %}
              <th scope="col">User</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for lyric in lyrics %}
            <tr>
              <td scope="row">{{ lyric.id }}</td>
              <td><a href="{% url 'lyrics:show' lyric.id %}">{{ lyric.title }}</a></td>
              <td>{{ lyric.artist }}</td>
              <td>{{ lyric.updated_at }}</td>
              {% if user.is_superuser %}
                <td>{{ lyric.user }}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
