{% extends "index.html" %}

{% load static %}

{% block script %}
  <link rel="stylesheet" type="text/css" href="{% static 'lyrics/styles/main.css' %}">
  <script>
    const lyricNotations = JSON.parse("{{ lyric_notations|escapejs }}");
    const lyricLines = JSON.parse("{{ lyric_lines|escapejs }}");
    const phoneticNotations = JSON.parse("{{ phonetic_notations|escapejs }}");
  </script>
  <script src="{% static 'lyrics/javascript/LyricNotation.js' %}"></script>
  <script src="{% static 'lyrics/javascript/PhoneticNotation.js' %}"></script>
  <script src="{% static 'lyrics/javascript/LyricSelection.js' %}"></script>
  <script src="{% static 'lyrics/javascript/lyrics.js' %}" defer></script>
{% endblock %}

{% block content %}
  <a href="{% url 'lyrics:index' %}">Back to lyrics</a>

  <h2 class="mt-3">{{ lyric.title }}</h2>
  <h5>{{ lyric.artist }}</h5>
  <hr>

  <div class="row my-4">
    <div class="col">
      <div id="lyric">
        {% for line in tokenized_lyric_lines %}
          <div class="lyric-line" data-line-id="{{ forloop.counter0 }}">
            {% for word in line %}
              {% if word|cut:' ' == '' %}
                <ruby class="lyric-word" data-word-id="{{ forloop.counter0 }}">&nbsp;</ruby>
              {% else %}
                <ruby class="lyric-word" data-word-id="{{ forloop.counter0 }}">{{ word }}</ruby>
              {% endif %}
            {% endfor %}
            <br>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col">
      <div class="sticky-top" style="top: 20px;">

        <div class="d-flex mb-3">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="lyricNotationSwitch" checked>
            <label class="custom-control-label" for="lyricNotationSwitch">Lyric Notations</label>
          </div>
          <div class="custom-control custom-switch ml-3">
            <input type="checkbox" class="custom-control-input" id="phoneticNotationSwitch" checked>
            <label class="custom-control-label" for="phoneticNotationSwitch">Phonetic Notations</label>
          </div>
        </div>

        <div id="notation-toolbar" class="mb-3">
          <button id="lyric-notation-tool" type="button" class="btn btn-primary" disabled>+L</button>
          <button id="phonetic-notation-tool" type="button" class="btn btn-primary" disabled>+P</button>
        </div>

        {% for lyric_notation in lyric.lyricnotation_set.all %}
          {% include "lyrics/lyric_notation_card.html" %}
        {% endfor %}
        {% include "lyrics/lyric_notation_card.html" %}

        {% for phonetic_notation in lyric.phoneticnotation_set.all %}
          {% include "lyrics/phonetic_notation_card.html" %}
        {% endfor %}
        {% include "lyrics/phonetic_notation_card.html" %}
      </div>
    </div>
  </div>
{% endblock %}
