{% extends "index.html" %}

{% load static %}

{% block script %}
  <link rel="stylesheet" type="text/css" href="{% static 'lyrics/styles/main.css' %}">
  <script>
    const lyricNotations = JSON.parse("{{ lyric_notations|escapejs }}");
    const lyricLines = JSON.parse("{{ lyric_lines|escapejs }}");
  </script>
  <script src="{% static 'lyrics/javascript/LyricNotation.js' %}"></script>
  <script src="{% static 'lyrics/javascript/LyricSelection.js' %}"></script>
  <script src="{% static 'lyrics/javascript/lyrics.js' %}" defer></script>
{% endblock %}

{% block content %}
  <h2>{{ lyric.title }}</h2>
  <h5>{{ lyric.artist }}</h5>
  <hr>

  <div class="row my-4">
    <div class="col">
      <div id="lyric">
        {% for line in tokenized_lyric_lines %}
          <div class="d-flex" data-line-id="{{ forloop.counter0 }}">
            {% for word in line %}
              {% if word|cut:' ' == '' %}
                <span class="lyric-word" data-word-id="{{ forloop.counter0 }}">&nbsp;</span>
              {% else %}
                <span class="lyric-word" data-word-id="{{ forloop.counter0 }}">{{ word }}</span>
              {% endif %}
            {% endfor %}
            <br>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col">
      <div id="lyricNotationContent" class="d-none bg-light p-3"></div>

      <form id="lyricNotationForm" action="{% url 'lyrics:add_lyric_notation' lyric.id %}" method="post" class="d-none">
        {% csrf_token %}

        <div class="form-row">
          <div class="form-group col">
            <label for="startLine">Start Line</label>
            <input type="number" class="form-control" id="startLine" name="start_line" readonly>
          </div>
          <div class="form-group col">
            <label for="startOffset">Start Offset</label>
            <input type="number" class="form-control" id="startOffset" name="start_offset" readonly>
          </div>
          <div class="form-group col">
            <label for="endLine">End Line</label>
            <input type="number" class="form-control" id="endLine" name="end_line" readonly>
          </div>
          <div class="form-group col">
            <label for="endOffset">End Offset</label>
            <input type="number" class="form-control" id="endOffset" name="end_offset" readonly>
          </div>
        </div>

        <div class="form-group">
          <label for="selected_text">Selected Text</label>
          <textarea class="form-control" id="selectedText" name="selected_text" rows="3" readonly></textarea>
        </div>

        <div class="form-group">
          <label for="content">Content</label>
          <textarea class="form-control" id="content" name="content" rows="3"></textarea>
        </div>
        <input type="submit" value="Add Notation" class="btn btn-success">
        <button type="button" class="btn btn-secondary" value="Cancel">Cancel</div>
      </form>
    </div>
  </div>
{% endblock %}
